%p#notice= notice
%h1 Listing Api V2 Accounts
=form_tag accounts_path(), :method => :get ,class: "mtm"do
  =text_field_tag :hruid, params[:hruid], :placeholder => "Recherche par hruid", :class => "w100 login mbm", :autofocus => true
  =hidden_field_tag :exact_search, "false"
%table.table-striped.table-auto
  %thead
    %tr
      %th Uuid
      %th Hruid
      %th Id soce
      %th Enabled
      %th Lastname
      %th Firstname
      %th Email
      %th Gapps id
      %th Birthdate
      %th Deathdate
      %th Gender
      %th Is gadz
      %th Is student
      %th School
      %th Is alumni
      %th Buque texte
      %th Description
      %th{:colspan => "2"}
  %tbody
    - @accounts.each do |api_v2_account|
      %tr
        %td
          =link_to api_v2_account.uuid, account_path(api_v2_account)
        %td= api_v2_account.hruid
        %td= api_v2_account.id_soce
        %td= api_v2_account.enabled
        %td= api_v2_account.lastname
        %td= api_v2_account.firstname
        %td= api_v2_account.email
        %td= api_v2_account.gapps_id
        %td= api_v2_account.birthdate
        %td= api_v2_account.deathdate
        %td= api_v2_account.gender
        %td= api_v2_account.is_gadz
        %td= api_v2_account.is_student
        %td= api_v2_account.school_id
        %td= api_v2_account.is_alumni
        %td= api_v2_account.buque_texte
        %td= api_v2_account.description
        %td= link_to 'Edit', edit_account_path(api_v2_account)
        %td= link_to 'Destroy', account_path(api_v2_account) , method: :delete, data: { confirm: 'Are you sure?' }
%br/

=paginate @accounts, path: accounts_path
= link_to 'New Account', new_account_path
