%p
  %strong Uuid:
  = @account.uuid
%p
  %strong Hruid:
  = @account.hruid
%p
  %strong Id soce:
  = @account.id_soce
%p
  %strong Enabled:
  = @account.enabled
-if @show_password_hash_if_allowed
  %p
    %strong Password:
    = @account.password
%p
  %strong Lastname:
  = @account.lastname
%p
  %strong Firstname:
  = @account.firstname
%p
  %strong Birthname:
  = @account.birthname
%p
  %strong Birth firstname:
  = @account.birth_firstname
%p
  %strong Email:
  = @account.email
%p
  %strong Gapps id:
  = @account.gapps_id
%p
  %strong Birthdate:
  = @account.birthdate
%p
  %strong Deathdate:
  = @account.deathdate
%p
  %strong Gender:
  = @account.gender
%p
  %strong Is gadz:
  = @account.is_gadz
%p
  %strong Is student:
  = @account.is_student
%p
  %strong School:
  = @account.school_id
%p
  %strong Is alumni:
  = @account.is_alumni
%p
  %strong Date entree ecole:
  = @account.date_entree_ecole
%p
  %strong Date sortie ecole:
  = @account.date_sortie_ecole
%p
  %strong Ecole entree:
  = @account.ecole_entree
%p
  %strong Buque texte:
  = @account.buque_texte
%p
  %strong Buque zaloeil:
  = @account.buque_zaloeil
%p
  %strong Gadz fams:
  = @account.gadz_fams
%p
  %strong Gadz fams zaloeil:
  = @account.gadz_fams_zaloeil
%p
  %strong Gadz proms principale:
  = @account.gadz_proms_principale
%p
  %strong Gadz proms secondaire:
  = @account.gadz_proms_secondaire
%p
  %strong Gadz centre principal:
  = @account.gadz_centre_principal || ''
%p
  %strong Gadz centre secondaire:
  = @account.gadz_centre_secondaire || ''
%p
  %strong Avatar url:
  = @account.avatar_url
%p
  %strong Description:
  = @account.description
%p
  %strong audit_status:
  = @account.audit_status
%p
  %strong audit_comment:
  = @account.audit_comments
%p
  %strong created_at:
  = @account.created_at
%p
  %strong updated_at:
  = @account.updated_at
%p
  %strong updated_by:
  = @account.updated_by
%p
  %strong password_updated_at:
  = @account.password_updated_at
%p
  %strong password_updated_by:
  = @account.password_updated_by
%p
  %strong Import hérité du GrAM 1:
  = @account.is_from_legacy_gram1



%p
  %b Aliases
  %ul
    =@account.aliases.each do |a|
      %li= a.name
%p
  %b Groups
  %ul
    =@account.groups.each do |group|
      %li= link_to group.name,  group_path(group.uuid)

%p
  %b Roles
  %ul
    =@account.roles.each do |role|
      %li= link_to role.name,  role_path(role.uuid)

= link_to 'Edit', edit_account_path(@account)
|
= link_to 'Back', accounts_path
