<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @api_v2_account.uuid %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Hruid:</strong>
  <%= @api_v2_account.hruid %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Id soce:</strong>
  <%= @api_v2_account.id_soce %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @api_v2_account.enabled %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Password:</strong>
  <%= @api_v2_account.password %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @api_v2_account.lastname %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @api_v2_account.firstname %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Birthname:</strong>
  <%= @api_v2_account.birthname %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Birth firstname:</strong>
  <%= @api_v2_account.birth_firstname %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Email:</strong>
  <%= @api_v2_account.email %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gapps email:</strong>
  <%= @api_v2_account.gapps_email %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Password:</strong>
  <%= @api_v2_account.password %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @api_v2_account.birthdate %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Deathdate:</strong>
  <%= @api_v2_account.deathdate %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @api_v2_account.gender %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Is gadz:</strong>
  <%= @api_v2_account.is_gadz %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Is student:</strong>
  <%= @api_v2_account.is_student %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>School:</strong>
  <%= @api_v2_account.school_id %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Is alumni:</strong>
  <%= @api_v2_account.is_alumni %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Date entree ecole:</strong>
  <%= @api_v2_account.date_entree_ecole %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Date sortie ecole:</strong>
  <%= @api_v2_account.date_sortie_ecole %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Ecole entree:</strong>
  <%= @api_v2_account.ecole_entree %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Buque texte:</strong>
  <%= @api_v2_account.buque_texte %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Buque zaloeil:</strong>
  <%= @api_v2_account.buque_zaloeil %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gadz fams:</strong>
  <%= @api_v2_account.gadz_fams %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gadz fams zaloeil:</strong>
  <%= @api_v2_account.gadz_fams_zaloeil %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gadz proms principale:</strong>
  <%= @api_v2_account.gadz_proms_principale %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Gadz proms secondaire:</strong>
  <%= @api_v2_account.gadz_proms_secondaire %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @api_v2_account.avatar_url %>
</p>

<p>
  <strong>,:</strong>
  <%= @api_v2_account., %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_v2_account.description %>
</p>

<%= link_to 'Edit', edit_api_v2_account_path(@api_v2_account) %> |
<%= link_to 'Back', api_v2_accounts_path %>
