<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @group.guid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<%= link_to 'Edit', edit_api_v2_group_path(@group) %> |
<%= link_to 'Back', api_v2_groups_path %>
