%p#notice= notice
%p
  %strong Guid:
  = @group.guid
%p
  %strong Name:
  = @group.name
%p
  %strong Description:
  = @group.description
= link_to 'Edit', edit_api_v2_group_path(@group)
|
= link_to 'Back', api_v2_groups_path
