<p id="notice"><%= notice %></p>

<h1>Listing Api V2 Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Application</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v2_roles.each do |api_v2_role| %>
      <tr>
        <td><%= api_v2_role.name %></td>
        <td><%= api_v2_role.application %></td>
        <td><%= api_v2_role.description %></td>
        <td><%= link_to 'Show', api_v2_role %></td>
        <td><%= link_to 'Edit', edit_api_v2_role_path(api_v2_role) %></td>
        <td><%= link_to 'Destroy', api_v2_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_api_v2_role_path %>
