<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Application:</strong>
  <%= @role.application %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_api_v2_role_path(@role) %> |
<%= link_to 'Back', api_v2_roles_path %>
